awscrt==0.23.8
boto3==1.39.11
botocore==1.39.11
certifi==2025.7.14
charset-normalizer==3.4.2
docopt==0.6.2
idna==3.10
jmespath==1.0.1
logging==0.4.9.6
numpy==2.3.1
opencv-python==4.11.0.86
pipreqs==0.4.13
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.4
s3transfer==0.13.1
six==1.17.0
slack==0.0.2
slack_bolt==1.23.0
slack_sdk==3.36.0
urllib3==2.5.0
yarg==0.1.10
